body{
    margin: 0px;
    padding: 0%;
    
}
#navebar{
    display: flex;
    justify-content: space-between ;
    background-color:white;
    align-items: center;
    padding-top: 20px;
}
#navebar a{
    color:black;
    margin: 15px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
#navebar a:hover{
    color:lightgray;
}
#grid-box{
    display: grid;
    grid-template-columns: 200px 300px 200px;
}
#first-div{
    margin-left: 40px;
}
#first-div h3{
    font-family: cursive;
}
#secound-div{
    margin-right: 700px;
}
#log-in{
 border: 0px;
 background-color: white;
 position: absolute;
 margin-top: -38px;
 margin-left: 1150px;
 font-family: cursive;
}
#sing-up{
    border: 0px;
    background-color: white;
    position: absolute;
    margin-top: -48px;
    margin-left: 1250px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 25px;
    font-family: cursive;
}
#custum{
    position: relative;
    margin-left: 350px;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 40%;
    height: 100px;
}
#custum img{
    border: 0px;
    border-radius: 50%;
    width: 6;
    height: 60px;
}
#custum h4{
    text-align: justify; 
    margin-left: 75px;
    margin-top: -60px;
    padding: 1px;
}
#custum p{
    text-align: justify; 
    margin-left: 0px;
    margin-top: 60px;
 font-family: 'Times New Roman', Times, serif;
}
#div-first{
    width: 50%;
    height: 600px;
    background-color:rgb(122, 122, 238);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#div-sec{
  width: 400px;
  height: 600px;
 position: absolute;
 margin-left: 350px;
 margin-top: 150px;
border-left:10px ;
 height: 300px;
}
#butt{
    border: 0px;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    margin-top: -130px;
    margin-left: 900px;
    font-family: cursive;
}
#butt :hover{
background-color: rgb(51, 49, 49);
}
form{
    background-color:white;
    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 260px;
    padding: 15px;
   margin-left: -230px;
   margin-top: -295px;
    position: relative;
   
}
.input-wrapper{
    margin-top: 15px;
}
#wrap{
    width: 95%;
    margin-top: 17px;
    background-color: rgb(125, 199, 224); 
    border: none;
    padding: 8px;
    font-size: 20px;
    color: white;
    border-radius:6px ;
}